<?xml version="1.0"?>
  <launch>
  <arg name="twist" default="0"/>
  
    <node pkg="keyboard_to_joy" type="test_keyboard.py" name="read_keyboard"/>

    <node pkg="keyboard_to_joy" type="keyboard_joy.py" name="keyboard_joy" >
      <remap from="keyboard_msg" to="joy"/>
    </node>
    <group if="$(arg twist)">
        <node pkg="keyboard_to_joy" type="joy_to_twist.py" name="joy_to_twist">
          <remap from="keyboard_msg" to="joy"/>
        </node>
      </group>
  </launch>
